%footer
  %p
    %a.btn.btn-primary.btn-social{href: 'https://www.linkedin.com/company/xaxis'}
      %i.fa.fa-linkedin.fa-lg
    %a.btn.btn-primary.btn-social{href: 'https://www.facebook.com/XAXISFans'}
      %i.fa.fa-facebook.fa-lg
    %a.btn.btn-primary.btn-social{href: 'https://www.youtube.com/c/XaxisVideos'}
      %i.fa.fa-youtube.fa-lg
    %a.btn.btn-primary.btn-social{href: 'https://twitter.com/Xaxistweets'}
      %i.fa.fa-twitter.fa-lg
    %a.btn.btn-primary.btn-social{href: 'http://instagram.com/xaxis'}
      %i.fa.fa-instagram.fa-lg
    = link_to "https://www.glassdoor.com/Reviews/Xaxis-Reviews-E697973.htm", :class => "btn btn-primary btn-social" do
      %i
        = image_tag "glassdoor.svg", :style => "width: 13px;", :class => "glass-door"
  .footer-link-container
    = link_to "Privacy Policy", "https://www.xaxis.com/static/view/privacy-policy-en", class: "footer-link uppercase"
    = link_to "Opt Out", "https://www.xaxis.com/static/view/opt-out-confirmation", class: "footer-link uppercase"  #This needs to be updated to the real link.
    = link_to "Site Map", "####", class: "footer-link uppercase"
    = link_to "Xaxis.com", "https://www.xaxis.com", class: "footer-link uppercase"
    %a#contact_link.footer-link.uppercase{:href => "###", data: {toggle: "modal", target: "#myModal"}} contact
    -# = link_to "Contact", "####", class: "footer-link uppercase", id: "contact_link", {data: {toggle: "modal", target: "#myModal"}} #TO be created
    = render partial: 'partials/contact_modal'
