= render partial: 'jumbotron'
= render partial: 'regions' unless params[:location] || params[:department]
= render partial: 'job_list'
= render partial: 'departments'
= render partial: 'partials/brands'