= render partial: 'partials/jumbotron', locals: {subtitle: @subtitle}
-unless controller_name == 'locations' || controller_name == 'departments' || controller_name == 'regions'
  .body-section.body-section-small-margin-bottom
    = render partial: 'regions/index'
.body-section
  = render partial: 'jobvite_response/job_list', locals: {jobs: @jobs}
-unless controller_name == 'locations'
  .body-section
    = render partial: 'partials/photoblock'
.body-section
  = render partial: 'partials/brands'
