%h2
  = @job['title']

.subtitle
  = @job['subsidiaryName']
  |
  = @job['category']
  |
  = @job['locationCity']
  |
  = @job['locationCountry']
=link_to "apply", @job["applyLink"]
%p
  = @job['description'].html_safe
