= render partial: 'jumbotron', locals: {subtitle: @job.department}
%h2.title-text
  = @job['title']
.container
  .job-subtitle
    = @job['subsidiaryName']
    |
    = @job['category']
    |
    = @job['locationCity']
    |
    = @job['locationCountry']
  %p
    = @job['description'].html_safe

  =link_to "apply", @job["applyLink"], class: 'btn btn-primary btn-lg'
