.filter-container
  = form_tag job_search_path, class: "form-inline", method: :get do
    .form-group
      = label_tag "Location", "location", class: "sr-only"
      = select_tag :location, options_for_select(Location.all.order(:name).map{|loc| [loc.name, loc.name.parameterize]}), {include_blank: "All", selected: params[:location], prompt: "Select a location", class: "form-control"}
    .form-group
      = label_tag "Department", "department", class: "sr-only"
      = select_tag :department, options_for_select(Department.all.order(:name).map{|dep| [dep.name, dep.name.parameterize]}, selected: params[:department], prompt: "Department"), {include_blank: "All", selected: params[:location], prompt: "Select a department", class: "form-control"}
    = link_to 'Reset', jobs_path, role: "button", class: 'btn btn-reset' if params[:location] && params[:location].present? || params[:department] && params[:department].present?
    =submit_tag "Filter",  class: 'btn btn-xaxis btn-filter'
