= form_for @region, html: {multipart: true} do |f|
  - if @region.errors.any?
    #error_explanation
      %h2= "#{pluralize(@region.errors.count, "error")} prohibited this region from being saved:"
      %ul
        - @region.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :slug
    = f.text_field :slug
  .field
    = image_tag(@region.hero_image_url) if @region.hero_image?
    = f.label :hero_image
    = f.file_field :hero_image
  -if @region.hero_image?
    .field
      = f.label :remove_image
      = f.check_box :remove_avatar
  .actions
    = f.submit 'Save'
