
-unless params[:department] && !params[:location]
  .categories
    -location_name = JobsJson.get_location_name_from_slug(params[:location]) if params[:location]
    -department_name = JobsJson.get_department_name_from_slug(params[:department]) if params[:department]
    -region_name = JobsJson.get_region_by_slug(params[:region])[:name] if params[:region]
    -subtitle = "Current Openings"
    -subtitle <<  " in #{location_name}" if location_name
    -subtitle <<  " in #{department_name}" if department_name
    -subtitle <<  " in #{region_name}" if region_name
    %h3= subtitle
    -JobsJson.get_current_departments.sort_by!{|x| x[:name]}.each do |department|
      .job-category.col-sm-4.text-center
        -if params[:location]
          = link_to department[:name], careers_jobs_dept_loc_path(location: params[:location], department: department[:slug])
          %p

            -@loc_jobs = JobListing.where(locationCity: location_name)
            =@loc_jobs.where(department: department[:name]).count
            openings

        -else
          =link_to department[:name], careers_jobs_department_path(department[:slug])
          %p
            =@jobs.where(department: department[:name]).count
            openings
