= render partial: 'jumbotron', locals: {subtitle: @job.department}
.job-show
  %h2.title-text.text-center
    = @job.title
  .container.job-show-body
    .job-subtitle
      = @job.subsidiaryName
      |
      = @job.department
      |
      = @job.locationCity
      |
      = @job.locationCountry
    .job-description_detailed
      = @job.description.html_safe

    =link_to "apply", @job.applyLink, class: 'btn btn-primary btn-lg apply-btn'
    =link_to "apply later", "#", class: 'btn btn-primary btn-lg apply-btn'

  .like-listings
    = render partial: 'job_list'
    %hr
    .container
      %p powered by JobVite
