!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= @title
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %script{src: "//use.fontawesome.com/fafebbc844.js"}
    = csrf_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
  %body{class: "#{controller_name} #{action_name}"}
    = render partial: 'partials/nav'
    .content-wrapper
      -if notice
        %p.notice= notice
      -if alert
        %p.alert= alert
      = yield
      = render partial: 'partials/footer'
    .bottom-stripe= image_tag asset_path('Stripe.png')
